# Qdrant Configuration
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=
# Groq Configuration
GROQ_API_KEY=

# Embedding Model
EMBEDDING_MODEL=

# LangSmith Tracing Configuration
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
